<div class="login-page">
  <mat-card class="mat-elevation-z12">
    <mat-card-title style="text-align:center;">Login</mat-card-title>
    <div>
      <img src="/assets/images/login01.png" id=icon alt="Login Icon">
    </div>

    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
      <mat-tab label="">
        <mat-card-content>
          <form #loginForm="ngForm" (ngSubmit)="loginForm.valid && onSubmit(loginForm)">
            <mat-form-field>
              <input
                matInput
                placeholder="Email"
                required
                name="email"
                ngModel
                #email="ngModel">
                <mat-error *ngIf="email.invalid">Email é requerido!</mat-error>
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Senha"
                type="password"
                required
                minlength="6"
                name="password"
                ngModel
                #password="ngModel"
                >
                <mat-error
                  *ngIf="password.errors && password.errors.required">
                  Senha é requerida!
                </mat-error>
                <mat-error
                  *ngIf="password.errors && password.errors.minlength">
                  A senha deve ter 4 digitos ou mais!
                </mat-error>
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
            
            <button
              type="submit"
              mat-raised-button
              color="primary"
              class="login-button">
              Login
            </button>

           
          </form>
          <mat-error class="alert" 
          *ngIf="serverErrorMessages">
            {{serverErrorMessages}}
          </mat-error>
        </mat-card-content>
    </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>


