<div>
  <!-- about section -->

  <section class="about_section layout_padding">

    <div class="container">
      <h2 class="text-uppercase">
        Benefícios Ecoplace
      </h2>
    </div>

    <div class="container">
      <div class="about_card-container layout_padding2-top">
        <div class="about_card">
          <div class="about-detail">
            <div class="about_img-container">
              <div class="about_img-box">
                <img src="assets/images/word1.png" alt="" />
              </div>
            </div>
            <div class="card_detail-ox">
              <h4>
                VOCÊ ENVIA SUA DOAÇÃO
              </h4>
              <p>
                Ao solicitar a coleta de óleo pelo aplicativo ecoplace, nossa equipe entrará em contato para agendar o dia e o horário da retirada, no conforto do seu lar.
              </p>
            </div>
          </div>
        </div>
        <div class="about_card">
          <div class="about-detail">
            <div class="about_img-container">
              <div class="about_img-box">
                <img src="assets/images/word2.png" alt="" />
              </div>
            </div>
            <div class="card_detail-ox">
              <h4>
                RECEBIMENTO DE CUPONS
              </h4>
              <p>
                A cada solicitação de coleta, você receberá um cupom relativo à quantidade de óleo coletado, sendo que os cupons podem ser resgatados em lojas parceiras.

              </p>
            </div>
          </div>
        </div>
        <div class="about_card">
          <div class="about-detail">
            <div class="about_img-container">
              <div class="about_img-box">
                <img src="assets/images/word3.png" alt="" />
              </div>
            </div>
            <div class="card_detail-ox">
              <h4>
                SISTEMA DE PREMIAÇÃO
              </h4>
              <p>
                Ao complementar 4 coletas mensais a roleta de bonificação é ativada, posteriormente, você receberá um cupom adicional como prêmiação de fidelidade.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script>function openNav() {
    document.getElementById("myNav").classList.toggle("menu_width");
    document
      .querySelector(".custom_menu-btn")
      .classList.toggle("menu_btn-style");
  }</script>
</div>
<!-- end about section -->
