.page404 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner {

  max-width: 560px;
  background-color: rgba(5, 121, 121, 0.9);
  padding: 80px 30px;
  margin: 100px auto;
  border-radius: 10px;
  flex: 1;
}
.content {
  max-width: 400px;
  margin: 0 auto;
  background: #F09819;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #EDDE5D, #F09819);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #EDDE5D, #F09819); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}