<div>
  <!-- info section -->
  <section class="info_section layout_padding">
    <div class="container info_content">
      <div>
        <div class="row">
          <div class="col-md-4">
            <div class="d-flex">
              <h5>
                Nossos Serviços
              </h5>
            </div>
            <div class="d-flex ">
              <ul>
                <li>
                  <a>
                    A Ecoplace desenvolveu um aplicativo
                    que auxilia o consumidor a realizar o
                    descarte correto do óleo, fazendo a
                    mediação entre as pessoas e usinas
                    de reciclagem.
                    Nestas circunstâncias, o aplicativo
                    disponibiliza cupons de desconto a cada
                    reciclagem, sendo possível o recebimento
                    de um cupom bônus mensal.
                  </a>
                </li>
                <br>









              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="d-flex">
              <a>
                <img src="assets/images/word4.png" class="word4" />
              </a>
            </div>

          </div>
          <div class="col-md-4">
            <div class="d-flex">
              <h5>
                Contate Nos
              </h5>
            </div>
            <div class="d-flex ">
              <ul>
                <li>
                  <a>
                    tel:(11)37748651
                  </a>
                </li>
                <br>
                <li>
                  <a>
                    fax:(11)37748651
                  </a>
                </li>
                <br>
                <li>
                  <a>
                    eco@ecoplace.landing.com
                  </a>
                </li>

              </ul>

            </div>
          </div>
        </div>
      </div>
      <div class="d-flex flex-column flex-lg-row justify-content-between align-items-center align-items-lg-baseline">
        <div class="social-box">
          <a href="">
            <img src="images/fb.png" alt="" />
          </a>

          <a href="">
            <img src="images/twitter.png" alt="" />
          </a>
          <a href="">
            <img src="images/linkedin1.png" alt="" />
          </a>
          <a href="">
            <img src="images/instagram1.png" alt="" />
          </a>
        </div>
        <a>


        </a>
      </div>
    </div>
  </section>



  <div>

    <!-- footer section -->
    <script>
      function openNav() {
        document.getElementById("myNav").classList.toggle("menu_width");
        document
          .querySelector(".custom_menu-btn")
          .classList.toggle("menu_btn-style");
      }
    </script>
    <!-- end info section -->

  </div>
</div>
