<div>
  <!-- slider section -->
  <section class=" slider_section position-relative">
    <div class="container">
      <div id="carouselExampleControls"
           class="carousel slide"
           data-ride="carousel">
        <div class="carousel-inner">

          <div class="slider_item-box">
            <div class="slider_item-container">
              <div class="slider_item-detail">
                <h1>
                </h1>
                <p>

                </p>
                <div>

                </div>
              </div>
              <div class="slider_item-imgbox">
                 
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="slider_item-box">
              <div class="slider_item-container">
                <div class="slider_item-detail">


                </div>
                <div class="slider_item-imgbox">
                   
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="slider_item-box">
              <div class="slider_item-container">
                <div class="slider_item-detail">

                  <div>

                  </div>
                </div>
                <div class="slider_item-imgbox">
                 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end slider section -->
  
  <script>
    function openNav() {
      document.getElementById("myNav").classList.toggle("menu_width");
      document
        .querySelector(".custom_menu-btn")
        .classList.toggle("menu_btn-style");
    }
  </script>
</div> 

