<div>

<!-- feature section  -->
<section class="feature_section layout_padding">
  <div class="container">
    <h2 class="text-uppercase">
      Ecossistema
    </h2>
  </div>
  <div class="">
    <div class="feature_card-container layout_padding2">
      <div class="feature_card">
        <div class="feature_img-container">
          <div class="feature_img-box">
            <img src="assets/images/f1.png" alt="" />
          </div>
        </div>
        <div class="feature_detail-box">
          <h4>
            VOCÊ CONTRIBUI COM O MEIO AMBIENTE
          </h4>
          <h4>
            ⩥Consequência Dos Possíveis Impactos Ambientais
          </h4>
          <p>
            Apenas 1 litro de óleo é capaz de poluir até 25 
            mil litros de água.Ao descartar o óleo 
            de cozinha na rede de esgotos, ele acaba chegando 
            até os rios, causando a drástica contaminação do meio ambiente, o que causa a diminuição da fotossíntese, matando a fauna e a flora, aumentando a ploriferação de bactérias, entre outros malefícios ambientais.
          </p>
        </div>
      </div>
      <div class="feature_card">
        <div class="feature_img-container">
          <div class="feature_img-box">
            <img src="assets/images/f2.png" alt="" />
          </div>
        </div>
        
        <div class="feature_detail-box">
          <h4>
            SUSTENTABILIDADE
          </h4>
          <br>
          <h4>
            ⩥É a Base Na Fabricação De Diversos Produtos
          </h4>
          <p>
            O descarte incorreto do óleo de cozinha causa 
            malefícios, entre eles:-Atrai ratos e baratas; causa 
            doenças; polui a água; polui o solo; agrava o efeito estufa; causa mal cheiro; entope tubulações; prejudica a vida aquatíca e causa enchentes. O óleo de cozinha pode ser reutilizado
            na fabricação de muitos produtos, como:-Biodisel;
            resina para tintas; ração; detergente; sabão e glicerina. 
          </p>
        </div>
      </div>
      <div class="feature_card">
        <div class="feature_img-container">
          <div class="feature_img-box">
            <img src="assets/images/f3.png" alt="" />
          </div>
        </div>
        <div class="feature_detail-box">
          <h4>
            PREVINE O ENTUPIMENTO DA REDE DE ESGOTO
          </h4>
          <h4>
            ⩥Evita Manutenção Desnecessária
          </h4>
          <p>
            Ao descartar o óleo de cozinha de forma incorreta na pia, ele obstrui o encanamento causando entupimento, esse problema se intensifica quando o óleo chega na rede de esgoto, entupindo as redes fluviais, antes de finalmente chegar 
            aos rios ocasionando a contaminação 
            das águas. Ao descartá-lo de forma correta você  ajuda a preservar o meio ambiente.
          </p>
        </div>
      </div>
      <div class="feature_card">
        <div class="feature_img-container">
          <div class="feature_img-box">
            <img src="assets/images/f4.png" alt="" />
          </div>
        </div>
        <div class="feature_detail-box">
          <h4>
            ENERGIA RENOVÁVEL
          </h4>
          <br>
          <h4>
            ⩥Diminuição De Dióxido de Carbono Na Atmosfera
          </h4>
          <p>
            O biodisel produzido a partir do óleo de cozinha reutilizado, substitui o Diesel comum sem que haja qualquer alteração no motor. Além disso diminui a quantidade de Co² na atmsofera, contribuindo na redução do aquecimento global,
            uma vez que a cada 3,8 litros de gasolina, há a 
            liberação de 10Kg de Co² na atmosfera.Entre nessa parceria de gestão ambiental e de cidadania.

          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  function openNav() {
    document.getElementById("myNav").classList.toggle("menu_width");
    document
      .querySelector(".custom_menu-btn")
      .classList.toggle("menu_btn-style");
  }
</script>

</div>
<!-- end feature section -->